<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.epark">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读取外置存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写外置存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写内置存储 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <!-- 调用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 获取访问手机振动器权限，用于导航过程中的震动提示 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 后台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity
            android:name=".activities.NoticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="通知"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SafePaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="支付"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OnlineNavigationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="在线导航"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShareApplyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="共享车位发布/修改"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SMSLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="短信登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="设置新密码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PasswordLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="密码登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="忘记密码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UpdatePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="修改密码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="设置"
            android:screenOrientation="portrait" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 腾讯QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/qq_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_api_key" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/gaode_api_key" />

        <!-- <service android:name=".services.ForegroundService" /> -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 文件临时缓存 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>